textarea {
    resize: none;
  }
  
  .past-hour {
    background-color: plum;
    border-color: purple;
  }
  
  .present-hour {
    background-color: greenyellow;
    border-color: green;
  }
  
  .future-hour {
    background-color: gold;
    bordere-color: goldenrod;
  }
  
  button {
    background-color: palevioletred;
    border-radius: 0px 5px 5px 0px;
  }
  
  header {
    border-bottom-width: 10px;
    color: black;
  }
  
  button {
    font-size: 2em;
  }